accelerate
datasets
dotenv
evaluate
gradio
intel_extension_for_pytorch
librosa
matplotlib
numpy
pandas
pathlib
python-dotenv
scikit-learn
seaborn
soundfile
torch
torchaudio
torchvision
transformers
wandb